<nav
  class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top custom-navbar"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/books">BookNest</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn btn-primary me-4" href="/books">Explore</a> 
        <a class="btn btn-primary me-4" href="/books/new">Add New Book</a>
      </div>

      <div class="ms-auto mt-3 search-box">
        <form class="d-flex" role="search" method="get" action="/books">
          <input
            class="form-control me-2 search"
            type="search"
            placeholder="Search Book"
            name="search"
          />
          <button class="btn btn-search" type="submit">
            Search <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
        <a class="btn btn-primary me-4" href="/books/login">Login</a>
        <a class="btn btn-primary me-4" href="/books/register">Register</a>
        <% } else { %>
        <a class="btn btn-danger me-4" href="/books/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

